.video {
    padding-top: 70px;
    background-image: url("/img/video-bg.png");
    background-repeat: no-repeat;
    &-container {
        padding-bottom: 85px;
        border-bottom: 1px solid $linegrey;
    }
    
    &-title {
        color: $white;
        @include typography(inherit, 36px, 700, 52.66px, center);
        margin-bottom: 30px;
    }
    
    &-subtitle {
        color: $white;
        @include typography(inherit, 16px, 400, 25.36px, center);
    }
    
    &-video {
        margin: 0 auto;
        background-image: url("/img/video.png");
        background-size: 100%;
        max-width: 970px;
        @include flex(center, center, _, _, _);
        height: 430px;
        margin-top: 70px;
    }
    
    &-btn {
        background-color: transparent;
        width: 300px;
        height: 100px;
        border: 1px solid $white;
        border-radius: 50px;
        @include flex(center, center, 21px, _, _);
        color: $white;
        @include typography(inherit, 16px, 500, 25.36px, left);
    }
}